<form name="form" ng-submit="submit()" class="form-horizontal">
	<fieldset data-ng-show="section==''"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.admin.properties', ['ucf']) }}">

		<rbs-field
				property="file" required="true"
				label="{{ i18nAttr(propertyKey('Rbs_Video_Video', 'file'), ['ucf']) }}">
				<div class="image-uploader" storage-name="Michal_Video" ng-model="document.file"></div>
		</rbs-field>

		<rbs-field-text
				property="label" required="true"
				label="{{ i18nAttr(propertyKey('Rbs_Video_Video', 'label'), ['ucf']) }}">
		</rbs-field-text>

	</fieldset>

	<fieldset data-ng-show="section=='systeminfo'"
		data-form-section-label="{{ i18nAttr('m.rbs.admin.admin.status', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.admin.information', ['ucf']) }}"
		data-document-system-info-section>
	</fieldset>

	<fieldset data-ng-show="section=='fileinfo'"
		hide-when-create="true"
		data-form-section-label="{{ i18nAttr('m.michal.video.documents.video_file_informations', ['ucf']) }}"
		data-form-section-group="{{ i18nAttr('m.rbs.admin.admin.information', ['ucf']) }}">

		<rbs-field label="{{ i18nAttr(propertyKey('Rbs_Video_Video', 'mimeType'), ['ucf']) }}">
			<span class="uneditable-input">(=document.mimetype=)</span>
		</rbs-field>

	</fieldset>

	<form-button-bar></form-button-bar>
</form>